@{
    ViewData["Title"] = "Home Page";
    var hasAccess = ViewBag.HasAccess as bool? ?? false;
 }
<div class="text-center" style="margin-top:20px;font-family:Exo">
    @if (ViewBag.HasAccess == null)
    {
        <div class="alert alert-warning">
            <p> <a asp-action="Login" asp-controller="Account" style="font-family:Exo">  Access status is unknown. Please try logging in.</a></p>
        </div>
    }
    else if (hasAccess)
    {
        <div class="alert alert-success">
            You have access to this site.
        </div>
        <p><a asp-action="Login" asp-controller="Account" style="font-family:Ex">Login to the website"</a></p>
    }
    else
    {
        <div class="alert alert-danger">
            <p><a asp-action="Login" asp-controller="Account" style="font-family:Ex">  You do not have access to this site. Please log in.</a></p>
        </div>
    }
</div>
