@using Domin.ViewModel;
@model ResetPasswordVM


@{
    Layout = "_Layout";
}

<html lang="en">
<head>
    <title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/assest/css/style.css" rel="stylesheet" />

</head>
<body class="img js-fullheight" style="background-image: url('/assest/images/bg.jpg');

	<section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section"></h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-0">
                        <h3 class="mb-4 text-center"></h3>
        <form asp-action="ResetPassword" method="post" class="contact-us-form form-container" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                          <input type="hidden" asp-for="Email" />
                                          <input type="hidden" asp-for="Token" />
                            </br>

                            <div class="form-group">
                                <input id="password-field" asp-for="NewPassword" type="password" class="form-control" placeholder="Password" required>
                                <span asp-validation-for="NewPassword"  toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                                <div class="form-group">
                                <input id="password-field" asp-for="ConfirmNewPassword" type="password" class="form-control" placeholder="Repassword" required>
                                <span asp-validation-for="ConfirmNewPassword" toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <button type="submit" value="Reset Password" class="form-control btn btn-primary submit px-3">Reset Password</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/assest/js/jquery.min.js"></script>
    <script src="~/assest/js/main.js"></script>
    <script src="~/assest/js/popper.js"></script>
    <script src="~/assest/js/bootstrap.min.js"></script>
    <script src="~/assest/js/main.js"></script>

</body>
</html>

