@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;


    @if (signInManager.IsSignedIn(User))
{

<form asp-action="Logout" asp-controller="Account" method="post">
    <div class="row" style="margin-top:20px;">
        <div class="col-sm-8" style="font-family:Exo;color:#3b5998">URL Table</div>
        <div class="col-sm-3" style="display: flex; flex-direction: column; align-items: center;">
            <img src="~/Img/Icon_logout.gif" alt="Avatar Animation" style="width: 30px; height: 30px;">
            <a class="btn btn-outline" style="font-size: 12px; direction:rtl;color:#3b5998">Log Out</a>
        </div>
</form>
}
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
</li>