@model string ?
@{
    Layout = null;

}
<div style="direction:rtl">
    <p style="font-family:Samim color:black">ممنون از ثبت نام شما لطفا حساب خود را با کلیک بر روی لینک زیر تایید نمایید </p>
    <a href="@Model" style="background:red ; color:black;  font-size:larger ">تایید حساب </a>

</div>
