@model string ?
@{
    Layout = null;

}
<div style="direction:rtl">
    <p style="color:red">برای بازیابی کلمه عبور خود روی لینک زیر کلید کنید </p>
    <a href="@Model" style="background:green ; color:black;  font-size:larger ">بازیابی کلمه عبور  </a>

</div>
